html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FED7B2;
    /* background: ##FFECD9; */
}


.app-background {
    background-color: #FED7B2;
}

/* .pepper {
    height: 200px;
    width: 200px;
} */

/* .submitted-pic {
    height: 200px;
  
} */

.details-pic {
    height: 550px;
    width: 350px;
    border-radius: 20px;
    padding-x: 10rem;
}

.form-flexbox {
    display: flex;
    justify-content: center;
    
    
    
    
    height: 47vh;
    
}

.form-inner-div {
    width: 50vw;
    height: auto;
    background-color: #E55139;
    border-radius: 20px;
    max-width: 600px; 
    padding-top: 90px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.form {
   
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    

}

.search-form {
    padding: 3vh;
    margin: 3vh;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    background-color: #E55139;
    
}

.search-form-text {
    color: white;
}


.details-title {
    color: white;
    font-size: 48px;
    text-align: center;
}

.login-flex {
    display: flex;
    justify-content: center;
}

.login-box {
    background-color: #E55139;
    
    width: 600px;
    height: 400px;
    padding-top: 5vh;
    padding-bottom: 1vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

}

.member-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-box {
    
    background-color: #E55139;
    width: 600px;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
}

.member-button {
    background-color: #FF9F43;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 200px;
    color: white;
    margin-top: 4vh;
}

.validation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.validation-section p {
    font-size: 25px;
    
}

.submit-btn-div {
    padding-bottom: 10vh;
}

li {
    list-style-type: none;
}




.sauce-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
   
    
    
    
    
}


.sauces-h1 {
    text-align: center;
}

.sauce-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    max-width: 400px;
    min-width: 300px;
    border: 1px solid #E55139;
    border-radius: 20px;
    padding: 2vh;
    background-color: #E55139;
    
}


.sauce-card .card-title {
    color: white;
    font-size: 36px;
}

.sauce-card-text {
    color: white;
}

.card-button-flex {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}



.container {
    max-width: 1200px;
}


.img-div-card{
    width: 250px;
    height: 304px;
    border-radius: 20px;
   
}


.card {
    min-width: 250px; 
    max-width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    gap: 10px;
    
   
    
}

/* .sauce-details-btn {
    background-color: #D32F2F;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: white;
    width: 100px;
} */

/* .show-comments-btn {
    background-color: #D32F2F;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: white;
    width: 200px;
} */

/* .add-comments-btn {
    background-color: #D32F2F;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: white;
    width: 200px;
} */

.comment-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
    
  
   
}

.comment-form {
   
        border-radius: 50px;
        border: none;
        height: 40px;
        width: 250px;
        margin-bottom: 3vh;
        padding: 2vh;
        background-color: #FED7B2;
    
}

.comment-submit {
    background-color: #FF9F43;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 200px;
    color: white;

}

.sauce-search-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat";
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.welcome {
    text-align: center;
    padding: 10px;
    color: black;
    position: relative;
    height: 100%;
}

.responsive-image-container {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
  }
  
  .chili-pepper{
    max-width: 100%;
    height: auto;
  }

/* .cardsize {
    height: 204px;
} */

.comments-div {
   
    width: 500px;

    

    
}

.comments-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FED7B2;
    border-radius: 20px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding-y: 5vh;
    padding-left: 0;
    padding-right: 30px;
    width: auto;
    
}

.ul-flex {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
   
    
}


/* .custom-card {
    border: 1px solid gray;
    border-radius: 5px;
} */

.card-comments-parent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3vh;
}

/* .card-comments-div {
    border: 1px solid gray;
    border-radius: 5px;
    padding: .5vh;
    margin-bottom: 2vh;
    padding-right: 3vh;
    background-color: ;
} */

/* .comment-bubble {
   
    border: 1px solid white;
    border-radius: 5px;
    margin: 2vh;
    padding: 1vh;
    justify-content: center;
    background: #F45D31;
    color: white;
} */



.logout-btn {
    background-color: #FF9F43;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    
}

/* .custom-home {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    text-align: center;
} */

/* @media (min-width: 320px) and (max-width: 768px) {
    .custom-home {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .custom-home {
        margin-left: 30px;
        margin-right: 30px;
    }
    /* .custom-button { */
    /* width: 100%;
    text-align: center;
  } */


.custom-button {
    height: 35px;
    font-size: 14px;
    padding: 15px;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("./fonts/static/Montserrat-Light.ttf") format("truetype");
}

.details-main {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #FED7B2;
    padding: 20px;
}

//d-flex justify-content-center align-items-center

.random-comments-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.random-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #FED7B2;
    padding: 5vh;
}

.random-text-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background-color: #FED7B2;
}

.details-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E55139;
    padding: 5vh;
    width: 40vw;
    height: auto; 
    margin-top: 50px;
    border-radius: 20px;
    
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    padding: 30px;
    margin: 30px;
}

//d-flex flex-column justify-content-center align-items-center gap-3 p-3 m-3

.details-text-div {
    display: flex;
    flex-direction: column;
    align-items: start; 
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: #FED7B2;
    width: 560px;
    height: auto; 
    
}

.details-text {
    color: #E55139;
}

.no-comments-text {
    color: #E55139;
    font-size: 18px;
}

.random-parent-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E55139;
    padding: 5vh;
    width: 40vw;
    gap: 20px;
    height: auto; 
    margin-top: 50px;
    border-radius: 20px;
    
}

.random-text-div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 5vh;
    margin: 5vh;
    
    border: none;
   
    width: 560px;
    height: auto; 
    
}

.random-comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    max-height: 300px; 
    overflow-y: auto; 
    padding: 20px;
    margin-top: 2vh;
    border-radius: 20px;
    background-color: #FED7B2;
}

.card-comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
    max-height: 300px; 
    overflow-y: auto; 
    padding: 20px;
    margin-top: 2vh;
    border-radius: 20px;
    background-color: #FED7B2;
}
.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    max-height: 400px; 
    overflow-y: auto; 
   
    
    border-radius: 20px;
    background-color: #FED7B2;
    
}

.comment-container ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}



.comment-bubble {
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #F45D31;
    color: white;
    padding: 1vh;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.comment-bubble p {
    margin: 0;            
    padding: 0;           
    text-align: center;   
    font-size: 20px;
}


 .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(
            146.11deg,
            #ffdfba 20.43%,
            rgba(255, 255, 255, 0) 79.91%
        ),
        linear-gradient(202.81deg, #ff6636 38.99%, rgba(255, 255, 255, 0) 85.2%),
        #ffb45c;
}

.world {
    text-align: center;
    font-family: "Montserrat";
    color: #E55139;
    font-size: 50px;
}

.ready {
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  color: ##FFECD9;
  font-size: 30px;
}

/* .chili-image {
    border-radius: 20px;
} */

.sign-in-form {
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 300px;
  padding: 15px;
  margin: 10px;
  background-color: #FED7B2;
}



.login-button {
    background-color: #FF9F43;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 200px;
    color: white;
}

.details-button {
    background-color: #FF9F43;
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 200px;
    color: white;
}




.username {
    color: #E55139;
}

.range-slider {
    
    width: 300px;
}

.profile-sauce-container {
    color: #E55139;
    padding-top: 100px;
    padding-bottom: 50px;
}

.navbar {
    background-color: #E55139;
}

.navbar-container {
    background-color: #E55139;
}

.sauce-form-input {
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 300px;
    padding: 15px;
    margin: 10px;
    background-color: #FED7B2;
}